<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>client</title>
</head>
<body>
<img src="images/hikaru.png" alt="" width="100px">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.color.utils-0.1.0.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascripts/client.js"></script>
</body>
</html>