<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>できること</h2>
    <ul>
     <li><a href="/post">データをpostするサンプル</a></li>
     <li><a href="/json">JSONを表示するサンプル</a></li>
     <li><a href="/tenki">openweatherAPIから取ってきた情報を表示</a></li>
     <li><a href="/socket">socket.ioのサンプル</a></li>
     <li><a href="/client">スマホの傾きを送信するインスタレーションサンプル</a></li>
     <li><a href="/color">スマホの傾きを受信するインスタレーションサンプル</a></li>
    </ul>
  </body>
</html>
