<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="button_wrapper">
    <button class="button2" type="button" onclick="OnButtonClick();">再生ボタン</button>
  </div>
  <script src="javascripts/boombox.min.js" type="text/javascript"></script>
  <script language="javascript" type="text/javascript">
  function OnButtonClick() {
      window.boombox.setup();
      window.boombox.load(
          'bc',
          {
              src : [
                  {
                      media: 'video/mp4',
                      path: 'sound/airman5.mp4'
                  }
              ],
              filter : []
          },
          true
      );
      boombox.get('bc').play();
  }
  </script>
  </body>
</html>
